* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

button,
input[type="button"],
input[type="submit"] {
  display: inline-grid;
  place-items: center;
  cursor: pointer;
}
